body{
    font-family: 'Helvetica';
}

#iphone-frame{
    width: 382px;
    height: 802px;
    /*border: 1px solid;*/
}

#iphone-button-rim{
    width: 100%;
    height: 100%;
}

#iphone-button-rim-top{
    width: 100%;
    height: 5px;
    /*border-bottom: 1px solid #000;*/
}

#iphone-button-rim-left{
    width: 4px;
    height: 797px;
    float: left;
    /*border-right: 1px solid #000;*/
}

#iphone-rim{
    width: 377px;
    height: 797px;
    background-color: #d0d0d0;
    border-radius: 55px;
    float: right;
}

#iphone-inner-rim{
    width: 361px;
    height: 785px;
    margin-left: 7px;
    margin-top: 5px;
    border: 1px solid #bbbdbf;
    border-radius: 50px;
    background-color: #e1e1e1; 
}

#iphone-inner-top{
    height: 96px;
    width: auto;
}

#iphone-display{
    width: 319px;
    height: 567px;
    background-color: #d5d5d5;
    border: 1px solid #929292;
    margin-left: 18px;
    overflow: hidden;
}

#iphone-home-button{
    margin-left: 143px;
    margin-top: 18px;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    border: 1px solid #929292;
}

#iphone-home-button-center{
    width: 23px;
    height: 23px;
    margin-left: 22px;
    margin-top: 22px;
    border-radius: 5px;
    border: 2px solid #929292;
}

#iphone-inner-camera{
    width: 5px;
    height: 5px;
    border: 5px solid #b0b0b0;
    background-color: #b9b9b9;
    border-radius: 10px;
    margin-left: 172px;
    margin-top: 18px;
    display: inline-block;
}

#iphone-speaker-outer{
    width: 65px;
    height: 9px;
    border: 3px solid #b5b5b5;
    border-bottom-color: #ebebeb;
    border-radius: 6px;
    margin-left: 144px;
    margin-top: 15px;
}

#iphone-speaker-inner{
    width: 63px;
    height: 7px;
    border: 1px solid #868686;
    border-radius: 3px;
    background-color: #b8b8b8;
}


#iphone-power-button{
    margin-left: 257px;
    width: 61px;
    height: 5px;
    background-color: #d8d8d8;
}

#iphone-switch-button{
    margin-top: 100px;
    width: 4px;
    height: 37px;
    background-color: #d8d8d8;
    border-right: 1px solid #aaa;
}

.iphone-vol{
    width: 4px;
    border-right: 1px solid #aaa;
    background-color: #d8d8d8;
    height: 37px;
    margin-top: 38px;
}

#appView{
    width: 319px;
    height: 567px;
    border: none;
    background-color: #fff;
}
