<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>  
    <session-factory>  
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>  
        <property name="hibernate.connection.username">rogerguenthar</property>  
        <property name="hibernate.connection.password">cms001</property>  
        <property name="hibernate.connection.url">jdbc:mysql://db51.netzone.ch/rogerguenthar</property>  
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name="show_sql">true</property>   
        <property name="connection.pool_size">1</property>  

        <mapping class="ch.bbw.cms.database.hibernate.cms_user"></mapping>
        <mapping class="ch.bbw.cms.database.hibernate.cms_comment"></mapping>
        <mapping class="ch.bbw.cms.database.hibernate.cms_post"></mapping>
        <mapping class="ch.bbw.cms.database.hibernate.cms_pinwall"></mapping>  

    </session-factory>  
</hibernate-configuration> 

<!-- db51.netzone.ch/rogerguenthar -->
<!-- rogerguenthar -->
<!-- cms001 -->


<!-- jdbc:mysql://localhost/cms -->
<!-- root -->
<!-- -->