<style>
  .player {
  width: 100%;
  height: auto;
  }


  .player audio{
  display: none;
  }
  
  .videoControl {
  background-color: #fff;
  }

  .player button {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16pt;
  }

  .button_right {
  float: right;
  }
</style>
<div class="player">
  <audio>
    <source ng-attr-src="{{$ctrl.src}}"></source>
  </audio>
  <div class="videoControl">
    <button ng-show="!$ctrl.playing" ng-click="$ctrl.play($event)">&#x25b6;</button>
    <button ng-show="$ctrl.playing" ng-click="$ctrl.pause($event)">&#10074; &#10074;</button>
    <button class="button_right" ng-click="$ctrl.replay($event)">&#x21e4;</button>
    
  </div>
</div>
