/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2015, 9:57:54 AM
    Author     : guenthard
*/

@font-face{
    font-family: '_AkzidenzGrotesk';
    src: url('./font/agr.ttf');
    font-weight: normal;
}

@font-face{
    font-family: '_AkzidenzGrotesk';
    src: url('./font/agb.ttf');
    font-weight: bold;
}

/*h1, h2, h3, h4, h5, h6{
    font-weight: normal;
} */

.form-line-block label{
    display: inline-block;
    min-width: 150px;
}

.cke{
    width: auto !important;;
    display: inline-block !important;
}

.general-search, .user-search{
    float: left;
}