
#banner {
    border: 1px solid #000;
    width: 300px;
    height: 450px;
}


@media screen and (max-width: 1800px) {
  #banner {
      width: 40%;
      margin-left: 30%;
      height: 300px;
  }

}

@media screen and (min-width: 1801px) {
  #banner {
      position: fixed;
      right: 0px;
      bottom: 20px;
      border: 1px solid #000;

  }

}

.license {
  color: #666;
}

.card.open {
  position: fixed;
  left: 25%;
  top: 5%;
  width: 50%;
}
