* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue LT Pro","Helvetica","Arial",sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 500;
}

h2, h3 {
    margin-top: 6px;
    margin-bottom: 2px;
    border-bottom: 1px solid #333;
}

table, tr, td{
    border: 1px solid #333;
    border-collapse: collapse;
}

td {
    padding: 4px;
}


.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 3px;
}

header {
    border: 1px solid #000;
    background-color: #333;
    color: #eee;
}

#deleteToken, #reloadForNewToken {
    float: right;
}

#reloadForNewToken {
    display: none;
}

button {
    background-color: #ddd;
    color: #333;
    border: 1px solid #333;
    padding: 3px;
}

button:hover {
    background-color: #eee;
}

button:active {
    background-color: #333;
    color: #ddd;
}

#banner {
    position: fixed;
    right: 0px;
    bottom: 20px;
    border: 1px solid #000;
} 
