* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body, input, textarea {
  font-family: "Avenir";
}

p {
  font-size: 14pt;
  margin: 4px 0px;
  text-align: justify;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 28pt;
}

h3 {
  font-size: 24pt;
}

h4 {
  font-size: 20pt;
}

h5 {
  font-size: 18pt;
}

h6 {
  font-size: 16pt;
}

.content {
  width: 100%;
  max-width: 720px;
  margin: auto;
}



.dark {
  background-color: #444;
  color: #eee;
}

header h1 {
  font-size: 18pt;
  display: inline;
}

header.dark a {
  color: #eee;
  text-decoration: none;
}

.menu {
  padding-top: 5px;
}


header {
  padding: 8px 0px;
}

.fright {
  float: right;
}

/* Timeline */

.timelineHead {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 150px;
  border: 1px solid #444;
  margin-top: 40px;
  background-size: cover;
  background-position: center;
}

.timelineItem {
  width: 360px;
  padding: 20px 2%;
}

.timelineItem.left {
  border-right: 1px solid #444;
}


.timelineItem.right {
  margin-left: 359px;
  border-left: 1px solid #444;

}

.timelineItem.left {
  text-align: right;
}

.timelineItem p, .zubcontent p {
  background-color: #eee;
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
}


.menuItem {

  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 1px solid #444;
  display: block;
  background-position: center;
  background-size: cover;
}

.menuItemWrapper {
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
  text-align: center;
  display: inline-block;
  color: #444;
  font-size: 20pt;
  text-decoration: none;
}

.hamsterMenu {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  border: 1px solid #444;
  display: inline-block;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
}

.contact {
  margin: auto;
  width: 302px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 6px;
}

label span {
  display: inline-block;
  width: 80px;
}


input, button, textarea {
  width: 200px;
  height: 42px;
  background-color:#fff;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 0px 8px;
}

textarea {
  height: 100px;
}

button {
  width: 100px;
}

.close {
  font-size: 24pt;
}

.hamsterWindow {
  display: none;
}



.zubtitle {
  cursor: pointer;
}

.zubtitle h3 {
  display: inline-block;
  vertical-align: top;
  padding: 80px 40px;
}

.zubcontent p {
  display: block;
}

.zubcontent {
  display: none;
}

.zubicon {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid #444;
  background-size: cover;
  background-position: center;
}
